%p#notice= notice

%p
  %b Email:
  = @client.email
%p
  %b First name:
  = @client.first_name
%p
  %b Last name:
  = @client.last_name
%p
  %b Physical address:
  = @client.physical_address
%p
  %b Password:
  = @client.password

= link_to 'Edit', edit_client_path(@client)

\|
= link_to 'Back', clients_path
