.container.text-center.my-5
  = form_for @dish, validate: true do |f|
    - if @dish.errors.any?
      .card.mx-auto.w-50
        %div{style: 'color: red'}
          %h2= t('application.can_not_be_saved')
          %ul
            - @dish.errors.each do |error|
              %li= error.full_message

    .form-group.mx-auto.w-50
      = f.label :name, class: "form-label required"
      .div.w-100
        = f.text_field :name, autofocus: true, class: "form-control"

    .form-group.mx-auto.w-50
      = f.label :description, class: "form-label required"
      .div.form-field-container
        .div.w-100{ style: "background-color: white;" }
          = f.rich_text_area :description, class: "trix-editor", input_html: { input: "form.rich_text_area :content" }

    .form-group.mx-auto.w-50
      = f.label :price, class: "form-label required"
      .div.w-100
        = f.text_field :price, autofocus: true, class: "form-control"

    .form-group.mx-auto.w-50
      = f.label :photo, class: "form-label required"
      .div.w-100
        = f.file_field :photo, autofocus: true, class: "form-control"

    .form-group.mx-auto.w-50
      = f.label :state, class: "form-label required"
      .div.w-100
        = f.select(:state, options_for_select(stateDish, @dish.state), {prompt: t('application.select')}, class: "form-control")

      .row.mt-4
        .col.text-center
          = link_to t('application.back'), dishes_path, class: "btn btn-secondary btn-block" 
          = button_tag t('application.save'), class: "btn btn-outline-primary btn-block"

