.card
  .card-body
    %h2.card-title
      = t('application.forgot_password')
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render "users/shared/error_messages", resource: resource
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .actions
        = f.submit "Enviar instrucciones"
    = render "users/shared/links"
